.deviceListCard {
  :global {
    .ant-pro-card-body {
      height: calc(100vh - 280px);
      padding: 0;
    }
  }
}

.deviceInfoCard {
  :global {
    .ant-card-body {
      padding: 0;
    }
  }
}
