.deviceTreeCard {
  :global {
    .ant-pro-card-body {
      height: 75vh;
      padding: 8px;
      overflow: auto;
    }
  }
}

.videoPlayerCard {
  :global {
    .ant-pro-card-body {
      height: 35vh;
      padding: 16px;
      background: #000; // 视频播放器特殊需求：必须使用黑色背景
    }
  }
}
