.deviceTreeCard {
  :global {
    .ant-pro-card-body {
      padding: 8px;
    }
  }
}

.videoGridCard {
  :global {
    .ant-pro-card-body {
      padding: 0;
    }
  }
}

// 视频网格容器
.videoGridContainer {
  width: 100%;
  height: 100%;
  background: #000; // 视频播放器特殊需求：必须使用黑色背景
}
