.tableContainer {
  margin-top: 16px;

  .addButtonWrapper {
    margin-bottom: 8px;
  }

  .fullWidthSelect {
    width: 100%;
  }

  :global {
    .ant-table-small .ant-table-tbody > tr > td {
      padding: 4px 8px;
    }
  }
}
